.mon, .tue, .wed, .thu, .fri, .sat, .sun {
    height: 60px;
    width: 60px;
    background-color: #e1dee5;
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: white;

}

.month a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1.5em;
    margin: -1.5em;
}

.home{
    max-width: 150px;
    padding-top: 3px;
    vertical-align: text-top;
}

a {
    color: #333333;
}

a:hover {
    color: #b9e4c5;
    text-decoration: none;
}

.left_panel a:hover {
    color: #2aaa6c;
}

.right_panel a:hover{
    color: #2aaa6c;
}

.bottom_panel a:hover{
    color: #2aaa6c;
}

.small_menu a:hover{
    color: #2aaa6c;
    float:left;
}

.month a:hover {
    color: #333333;
    background-color: #2aaa6c;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #2aaa6c;
}

a:active {
    color: red;
}

.filled{
    background-color: #b9e4c5;
    color: white;
}

.logo{
    vertical-align: text-top;
}

.today{
    background-color: #79c27f;
}

.month{
    text-align: center;
}

.calendar_page{
    margin-top: 22px;
    background-color: #e1dee5;
}

.main_day_name{
    text-align: center;
}


.calendar{
    text-align: center;
}

.left_panel{
    text-align: center;
}

.right_panel{
    text-align: center;
}

.small_menu{
    text-align: center;
}


.different-table, .different-table td{
   border-top: 1px solid #707070;
}
